.up-button {
	position: fixed;
	z-index: 1;
	padding: 0;
	bottom: 75px;
	right: 20px;
	width: 54px;
	height: 54px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 3px solid black;
	border-radius: 50%;
	display: none;
	cursor: pointer;
	background: url(../img/up-arrow.png) center no-repeat;
	background-size: 50%;
	transition: border 0.2s linear, color 0.2s;
	&:hover {
		border: 3px solid gold;
	}
}

.shown {
	display: inline-block;
}

@media (max-width: 1200px) {
	.up-button {
		display: none;
	}
}
